* {
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 1rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: cadetblue;
}

.container {
  background-color: white;
  border-radius: 1rem;
  padding: 3rem;
  min-height: 60vh;
  min-width: 50vh;
}

form input,
select,
button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

form input {
  border: 1px solid lightgray;
  font-size: 1rem;
  height: 2rem;
  padding: 0.25rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.75rem;
}

.select-container img {
  max-width: 2rem;
}

.select-container {
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  padding: 0rem 0.25rem;
}

button {
  margin-top: 1rem;
  height: 3rem;
  background-color: rgb(147, 5, 114);
  color: white;
  font-size: 1.15rem;
  cursor: pointer;
}

@media (max-width: 600px) {

  body {
    padding: 1rem;
  }

  .container {
    min-width: auto;
    width: 100%;
    padding: 1.5rem;
  }

  .dropdown {
    flex-direction: column;
    gap: 1rem;
  }

  .select-container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .msg {
    text-align: center;
    font-size: 1.5rem;
  }

  button {
    height: 2.8rem;
    font-size: 1.25rem;
    margin-top: 2rem;
}
  

  .from p,
  .to p {
    display: flex;
    margin-bottom: 6px;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
  }

  h2{
    font-size: 1.90rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2.25rem;
  }
  .dropdown{
    font-size: 8rem;
    display: contents;
  }

  .select-container select{
        font-size: 1rem;
  }
}
